/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "Roboto", sans-serif, sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  background-color: #f2f2f2;
}

img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 50px;
  padding-bottom: 25px;
  width: 100%;
  color: #fff;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .header__btn {
    display: none;
  }
}
@media (max-width: 992px) {
  .header {
    padding-top: 25px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.logo p {
  font-size: 18px;
  line-height: 1.2222222222;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .logo p {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  .logo p {
    display: none;
  }
}
.logo__icon {
  margin-right: 7px;
  width: 29px;
  height: 29px;
  color: inherit;
  fill: currentcolor;
}
@media (max-width: 992px) {
  .logo__icon {
    width: 50px;
    height: 50px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 992px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 70px 0;
  }
}
.nav__item:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 992px) {
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 35px;
  }
}
.nav__link {
  font-size: 14px;
  line-height: 1.1428571429;
  position: relative;
  padding-bottom: 3px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}
.nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.nav__link:hover {
  font-weight: 600;
}
.nav__link:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
@media (max-width: 992px) {
  .nav__link {
    font-size: 25px;
  }
}
@media (max-width: 992px) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    overflow-y: auto;
    width: 100%;
    height: 50%;
    -webkit-box-shadow: 0 6px 27px -10px rgba(34, 60, 80, 0.2);
    box-shadow: 0 6px 27px -10px rgba(34, 60, 80, 0.2);
    background-color: #ed4c5c;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}

.burger {
  --burger-width: 30px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  z-index: 20;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  z-index: 20;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .burger {
    display: block;
  }
}

.btn {
  border-radius: 6px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn--stroke {
  border: 1px solid #fff;
  padding: 12px 31px;
  color: #fff;
  background-color: transparent;
}
.btn--stroke:hover {
  color: #ed4c5c;
  background-color: #fff;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn--white {
  font-size: 14px;
  line-height: 1.1428571429;
  border: 1px solid #fff;
  padding: 16px 33px;
  color: #ed4c5c;
  background-color: #fff;
}
.btn--white:hover {
  color: #fff;
  background-color: #ed4c5c;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn--primary {
  font-size: 14px;
  line-height: 1.1428571429;
  border: 1.5px solid #ed4c5c;
  padding: 15px 38px;
  color: #fff;
  background-color: #ed4c5c;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn--primary:hover {
  color: #ed4c5c;
  background-color: #fff;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.title {
  font-size: 36px;
  line-height: 1.1666666667;
  font-weight: 500;
  text-align: left;
  color: #000;
}
.title--center {
  text-align: center;
}
.title--sm {
  font-size: 18px;
  line-height: 1.1666666667;
}

.hero {
  padding-bottom: 189px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8))), url("../img/hero-bg.jpg");
  background: -o-linear-gradient(left, rgba(213, 32, 71, 0.8) 1%, rgba(238, 61, 27, 0.8) 100%), url("../img/hero-bg.jpg");
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 1%, rgba(238, 61, 27, 0.8) 100%), url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__container {
  margin-top: 258px;
  max-width: 568px;
  text-align: center;
}
@media (max-width: 576px) {
  .hero__container {
    padding-right: 5px;
    padding-left: 5px;
  }
}
.hero__title {
  font-size: 72px;
  line-height: 1.1666666667;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 576px) {
  .hero__title {
    margin-bottom: 25px;
    font-size: 40px;
  }
}
.hero__descr {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 55px;
  max-width: 532px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 576px) {
  .hero__descr {
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 350px;
    font-size: 15px;
  }
}

.about {
  padding-top: 95px;
  padding-bottom: 95px;
  color: #000;
}
.about__right {
  max-width: 445px;
}
.about__link {
  color: #ed4c5c;
}
.about__link:hover {
  text-decoration: underline;
}
@media (max-width: 992px) {
  .about__link {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .about__title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .about {
    padding-top: 60px;
  }
}

.ability {
  padding-top: 62px;
  padding-bottom: 229px;
  background-color: #e9e9e9;
}
.ability__heading {
  margin-bottom: 76px;
}
@media (max-width: 576px) {
  .ability__heading {
    margin-bottom: 50px;
  }
}
.ability__img {
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  height: 250px;
}
.ability__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.ability__card {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
@media (max-width: 992px) {
  .ability__card {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    row-gap: 170px;
  }
}
.ability__item {
  position: relative;
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  max-width: 350px;
}
@media (max-width: 992px) {
  .ability__item {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    width: 100%;
    max-width: 500px;
  }
}
.ability__content {
  position: absolute;
  left: 50%;
  bottom: -105px;
  z-index: 10;
  margin: 0 auto;
  border-radius: 8px;
  padding: 26px 32px;
  width: 100%;
  max-width: 293px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  color: #101010;
  background: #fff;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 992px) {
  .ability__content {
    max-width: 350px;
  }
}
@media (max-width: 576px) {
  .ability__content {
    max-width: 250px;
  }
}
.ability__title {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 229px;
}
@media (max-width: 992px) {
  .ability__title {
    margin-bottom: 15px;
  }
}
.ability__text {
  font-size: 12px;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 12px;
  max-width: 229px;
  text-align: center;
}
.ability__link {
  font-size: 12px;
  line-height: 1.5;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #ed4c5c;
}
.ability__link:hover {
  text-decoration: underline;
}

.technology {
  padding-top: 64px;
  padding-bottom: 115px;
}
.technology__container {
  padding-right: 5px;
  padding-left: 5px;
}
.technology__heading {
  margin-bottom: 66px;
}
@media (max-width: 576px) {
  .technology__heading {
    margin-bottom: 50px;
  }
}
.technology__list {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  counter-reset: section;
}
@media (max-width: 992px) {
  .technology__list {
    row-gap: 30px;
  }
}
.technology__item {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
  background-position: center top 58px;
  background-repeat: no-repeat;
}
.technology__item::before {
  font-size: 100px;
  line-height: 1.2;
  counter-increment: section;
  content: "0" counter(section);
  display: block;
  padding-bottom: 18px;
  font-weight: 700;
  text-align: center;
  color: rgba(22, 22, 22, 0.08);
}
.technology__item--cloud {
  background-image: url("../img/technology/1.svg");
  background-size: 80px 80px;
}
.technology__item--safety {
  background-image: url("../img/technology/2.svg");
  background-size: 66px 66px;
}
.technology__item--pdf {
  background-image: url("../img/technology/3.svg");
  background-size: 70px 70px;
}
.technology__item--csv {
  background-image: url("../img/technology/4.svg");
  background-size: 47px 54px;
}
@media (max-width: 992px) {
  .technology__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
@media (max-width: 576px) {
  .technology__item {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.technology__title {
  margin-bottom: 11px;
}
.technology__text {
  font-size: 12px;
  line-height: 1.1666666667;
  margin: 0 auto;
  max-width: 191px;
  text-align: center;
  color: #000;
}

.section__container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 311px;
  grid-template-rows: 311px;
}
@media (max-width: 576px) {
  .section__container {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    row-gap: 40px;
  }
}
.section__left {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  max-width: 445px;
}
@media (max-width: 768px) {
  .section__left {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    width: 100%;
    max-width: none;
    text-align: center;
  }
}
.section__title {
  font-size: 36px;
  line-height: 1.1666666667;
  margin-bottom: 45px;
}
@media (max-width: 992px) {
  .section__title {
    margin-bottom: 30px;
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .section__title {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 450px;
    font-size: 27px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .section__title {
    font-size: 22px;
  }
}
.section__text {
  font-size: 14px;
  line-height: 1.4285714286;
  margin-bottom: 14px;
  text-align: justify;
}
@media (max-width: 992px) {
  .section__text {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .section__text {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 600px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .section__text {
    max-width: none;
  }
}
.section__right {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  overflow: hidden;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .section__right {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    width: 100%;
  }
}

.benefits {
  padding-top: 95px;
  padding-bottom: 95px;
  color: #fff;
  background-color: #ed4c5c;
}
.benefits__right {
  max-width: 445px;
}
.benefits__title {
  color: #fff;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .benefits__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.benefits__item:not(:last-child) {
  margin-right: 21px;
}
.benefits__item svg {
  width: 32px;
  height: 32px;
  color: inherit;
  fill: currentcolor;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.benefits__item svg:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .benefits__item svg {
    width: 28px;
    height: 28px;
  }
}
.benefits__text {
  margin-bottom: 42px;
}
@media (max-width: 576px) {
  .benefits__text {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .benefits {
    padding-top: 60px;
  }
}

.contacts {
  padding-top: 159px;
  padding-bottom: 40px;
}
.contacts__left {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}
.contacts__title {
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .contacts__title {
    margin-bottom: 30px;
  }
}
.contacts__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 0;
  font-size: 16px;
}
.contacts__right input {
  margin-bottom: 24px;
  border: 1px solid #969696;
  border-radius: 6px;
  padding: 20px 30px;
  width: 100%;
}
.contacts__right input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.1875;
  font-family: inherit;
  color: rgba(25, 57, 103, 0.5);
}
.contacts__right input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.1875;
  font-family: inherit;
  color: rgba(25, 57, 103, 0.5);
}
.contacts__right input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.1875;
  font-family: inherit;
  color: rgba(25, 57, 103, 0.5);
}
.contacts__right input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.1875;
  font-family: inherit;
  color: rgba(25, 57, 103, 0.5);
}
.contacts__right input::placeholder {
  font-size: 16px;
  line-height: 1.1875;
  font-family: inherit;
  color: rgba(25, 57, 103, 0.5);
}
@media (max-width: 768px) {
  .contacts__right {
    grid-column: 2/10 span;
  }
}
@media (max-width: 768px) {
  .contacts__text {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .contacts__btn {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contacts {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  color: #101010;
  background-color: #e9e9e9;
}
.footer__content {
  padding-left: 4px;
  max-width: 200px;
}
.footer__title {
  margin-bottom: 19px;
}
.footer__address {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 45px;
  font-style: normal;
}
.footer__copy {
  font-size: 12px;
  line-height: 1.1666666667;
}
/*# sourceMappingURL=main.css.map */