<section class="ability" id="ability">
  <div class="container ability__container">
    <h2 class="title title--center ability__heading">Возможности</h2>
    <div class="ability__card">
      <div class="ability__item">
        <div class="ability__img">
          <img loading="lazy" src="img/ability/1.jpg" class="image" width="350" height="250" alt="Деньги">
        </div>
        <div class="ability__content">
          <h3 class="title title--center ability__title title--sm">Поддерживает все валюты и карты</h3>
          <p class="ability__text">Мы поддерживаем все популярные валюты и полностью настраиваем, чтобы добавить</p>
          <a href="#" class="ability__link">Подробнее</a>
        </div>
      </div>
      <div class="ability__item">
        <div class="ability__img">
          <img loading="lazy" src="img/ability/2.jpg" class="image" width="350" height="250" alt="Деньги">
        </div>
        <div class="ability__content">
          <h3 class="title title--center ability__title title--sm">Управляйте своими расходами на ходу</h3>
          <p class="ability__text">Вы можете получить доступ к своей учетной записи из любой точки мира на любом устройстве</p>
          <a href="#" class="ability__link">Подробнее</a>
        </div>
      </div>
      <div class="ability__item">
        <div class="ability__img">
          <img loading="lazy" src="img/ability/3.jpg" class="image" width="350" height="250" alt="Деньги">
        </div>
        <div class="ability__content">
          <h3 class="title title--center ability__title title--sm">Управление бюджетом осуществляется в облаке</h3>
          <p class="ability__text">Наше приложение создано для того, чтобы вы могли управлять управлять своим бюджетом. </p>
          <a href="#" class="ability__link">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>
