<section class="about section" id="about">
  <div class="container section__container">
    <div class="section__left">
      <h2 class="title section__title about__title">Простое приложение для управления бюджетом</h2>
      <p class="section__text">Наше приложение создано, чтобы вы могли в реальном времени управлять своим бюджетом и расходами в режиме онлайн с любого устройства. Оно предоставляет подробные отчеты о доходах и расходах с графиками, чтобы вы сразу могли увидеть расходы и бюджет. Читайте ниже, чтобы узнать больше.</p>
      <a class="about__link" href="#">Узнать подробнее</a>
    </div>
    <div class="section__right about__right">
      <img loading="lazy" src="img/about.jpg" class="image" width="445" height="311" alt="Люди сидят обсуждают планы">
    </div>
  </div>
</section>
