<div class="section contacts" id="contacts">
  <div class="container section__container">
    <div class="section__left contacts__left">
      <h2 class="title section__title contacts__title">Напишите нам</h2>
      <p class="section__text contacts__text">Остались вопросы или опасения? Просто заполните форму ниже, и наша служба поддержки свяжется с вами в течение 24 часов.</p>
    </div>
    <div class="section__right contacts__right">
      <form action="/" class="form">
        <input type="text" placeholder="Имя">
        <input type="tel" placeholder="Телефон">
        <button class="btn-reset btn btn--primary contacts__btn" data-graph-path="">Отправить</button>
      </form>
    </div>
  </div>
</div>
