<header class="header">
  <div class="container header__container">
    <div class="logo">
      <svg class="logo__icon">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
      <p>CloudBudget</p>
    </div>
    <nav class="nav" title="Главное меню" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#about" class="nav__link" data-menu-item data-scroll>Обзор</a></li>
        <li class="nav__item"><a href="#ability" class="nav__link" data-menu-item data-scroll>Особенности</a></li>
        <li class="nav__item"><a href="#technology" class="nav__link" data-menu-item data-scroll>Технология</a></li>
        <li class="nav__item"><a href="#contacts" class="nav__link" data-menu-item data-scroll>Контакты</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item>Войти</a></li>
      </ul>
    </nav>
    <button class="btn-reset btn btn--stroke header__btn" data-graph-path="">Войти</button>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
