.btn {
  border-radius: 6px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &--stroke {
    border: 1px solid $light-color;
    padding: 12px 31px;
    color: $light-color;
    background-color: transparent;

    &:hover {
      color: $primary-color;
      background-color: $light-color;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
  }

  &--white {
    @include font(14px, 16px);

    border: 1px solid $light-color;
    padding: 16px 33px;
    color: $primary-color;
    background-color: $light-color;

    &:hover {
      color: $light-color;
      background-color: $primary-color;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
  }

  &--primary {
    @include font(14px, 16px);

    border: 1.5px solid $primary-color;
    padding: 15px 38px;
    color: $light-color;
    background-color: $primary-color;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
      color: $primary-color;
      background-color: $light-color;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
  }
}
