.header {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 50px;
  padding-bottom: 25px;
  width: 100%;
  color: $light-color;

  &__container {
    @include flex-all-sb;
  }

  &__btn {
    @include middle-tablet {
      display: none;
    }
  }

  @include middle-tablet {
    padding-top: 25px;
  }
}
