.nav {
  &__list {
    display: flex;

    @include middle-tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 70px 0;
    }
  }

  &__item {
    @include mr(20px);

    @include middle-tablet {
      @include mr (0);
      @include mb (35px);
    }
  }

  &__link {
    @include font(14px, 16px);

    position: relative;
    padding-bottom: 3px;
    font-weight: 500;
    text-transform: uppercase;
    color: $light-color;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $light-color;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s linear;
    }

    &:hover {
      font-weight: 600;

      &::before {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.3s linear;
      }
    }

    @include middle-tablet {
      font-size: 25px;
    }
  }

  @include middle-tablet {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    overflow-y: auto;
    width: 100%;
    height: 50%;
    box-shadow: 0 6px 27px -10px rgba(#223c50, 0.2);
    background-color: $primary-color;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}
