.section {
  &__container {
    @include grid;

    grid-template-rows: 311px;

    @include mobile {
      column-gap: 0;
      grid-template-rows: auto;
      row-gap: 40px;
    }
  }

  &__left {
    align-self: center;
    grid-column: 6 span;
    max-width: 445px;

    @include small-tablet {
      grid-column: 12 span;
      width: 100%;
      max-width: none;
      text-align: center;
    }
  }

  &__title {
    @include font(36px, 42px);

    margin-bottom: 45px;

    @include middle-tablet {
      margin-bottom: 30px;
      font-size: 30px;
    }

    @include small-tablet {
      margin: 0 auto;
      margin-bottom: 30px;
      max-width: 450px;
      font-size: 27px;
      text-align: center;
    }

    @include mobile {
      font-size: 22px;
    }
  }

  &__text {
    @include font(14px, 20px);

    margin-bottom: 14px;
    text-align: justify;

    @include middle-tablet {
      font-size: 13px;
    }

    @include small-tablet {
      margin: 0 auto;
      margin-bottom: 30px;
      max-width: 600px;
      text-align: center;
    }

    @include mobile {
      max-width: none;
    }
  }

  &__right {
    grid-column: 6 span;
    overflow: hidden;
    border-radius: 15px;

    @include small-tablet {
      justify-self: center;
      grid-column: 12 span;
      width: 100%;
    }
  }
}
