.hero {
  padding-bottom: 189px;
  width: 100%;
  background: linear-gradient(90deg, rgba(#d52047, 0.8) 1%, rgba(#ee3d1b, 0.8) 100%), url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    margin-top: 258px;
    max-width: 568px;
    text-align: center;

    @include mobile {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  &__title {
    @include font(72px, 84px);

    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    color: $light-color;

    @include mobile {
      margin-bottom: 25px;
      font-size: 40px;
    }
  }

  &__descr {
    @include font(24px, 36px);

    margin-bottom: 55px;
    max-width: 532px;
    font-weight: 500;
    color: $light-color;

    @include mobile {
      margin: 0 auto;
      margin-bottom: 25px;
      max-width: 350px;
      font-size: 15px;
    }
  }
}
