.logo {
  @include flex-all-center;

  p {
    @include font(18px, 22px);

    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    @include middle-tablet {
      font-size: 25px;
    }

    @include mobile {
      display: none;
    }
  }

  &__icon {
    margin-right: 7px;
    width: 29px;
    height: 29px;
    color: inherit;
    fill: currentcolor;

    @include middle-tablet {
      width: 50px;
      height: 50px;
    }
  }
}
