.technology {
  padding-top: 64px;
  padding-bottom: 115px;

  &__container {
    padding-right: 5px;
    padding-left: 5px;
  }

  &__heading {
    margin-bottom: 66px;

    @include mobile {
      margin-bottom: 50px;
    }
  }

  &__list {
    @include grid;

    counter-reset: section;

    @include middle-tablet {
      row-gap: 30px;
    }
  }

  &__item {
    grid-column: 3 span;
    background-position: center top 58px;
    background-repeat: no-repeat;

    &::before {
      @include font(100px, 120px);

      counter-increment: section;
      content: "0" counter(section);
      display: block;
      padding-bottom: 18px;
      font-weight: 700;
      text-align: center;
      color: rgba(#161616, 0.08);
    }

    &--cloud {
      background-image: url("../img/technology/1.svg");
      background-size: 80px 80px;
    }

    &--safety {
      background-image: url("../img/technology/2.svg");
      background-size: 66px 66px;
    }

    &--pdf {
      background-image: url("../img/technology/3.svg");
      background-size: 70px 70px;
    }

    &--csv {
      background-image: url("../img/technology/4.svg");
      background-size: 47px 54px;
    }

    @include middle-tablet {
      grid-column: 6 span;
    }

    @include mobile {
      grid-column: 12 span;
    }
  }

  &__title {
    margin-bottom: 11px;
  }

  &__text {
    @include font(12px, 14px);

    margin: 0 auto;
    max-width: 191px;
    text-align: center;
    color: $color-text;
  }
}
