<section class="benefits section">
  <div class="container section__container">
    <div class="section__left">
      <h2 class="title section__title benefits__title">Сосредоточьтесь на экономии денег</h2>
      <p class="section__text benefits__text">Мы помогаем вам отслеживать ваши привычки в расходах, чтобы вы могли легко определить и сократить ненужные расходы. Просто присоединяйтесь сегодня, чтобы начать!</p>
      <ul class="benefits__list list-reset">
        <li class="benefits__item">
          <a href="#" class="benefits__link">
          <svg>
            <use xlink:href="img/sprite.svg#google"></use>
          </svg>
          </a>
        </li>
        <li class="benefits__item">
          <a href="#" class="benefits__link">
            <svg>
              <use xlink:href="img/sprite.svg#app-store"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="section__right benefits__right">
      <img loading="lazy" src="img/benefits.jpg" class="image" width="445" height="311" alt="Люди сидят обсуждают планы">
    </div>
  </div>
</section>
