<section class="technology" id="technology">
  <div class="container technology__container">
    <h2 class="title title--center technology__heading">Технологии</h2>
    <ul class="list-reset technology__list">
      <li class="technology__item technology__item--cloud">
        <h3 class="tiitle title--center title--sm technology__title">Облачное хранение</h3>
        <p class="technology__text">Доступ из любой точки мира с любого устройства</p>
      </li>
      <li class="technology__item technology__item--safety">
        <h3 class="tiitle title--center title--sm technology__title">Безопастность</h3>
        <p class="technology__text">Вся  информация хранится на защищенных облачных серверах</p>
      </li>
      <li class="technology__item technology__item--pdf">
        <h3 class="tiitle title--center title--sm technology__title">PDF Отчеты</h3>
        <p class="technology__text">Скачивайте ваши отчеты в удобном формате PDF</p>
      </li>
      <li class="technology__item technology__item--csv">
        <h3 class="tiitle title--center title--sm technology__title">CSV Отчеты</h3>
        <p class="technology__text">Скачивайте ваши отчеты в удобном формате CSV</p>
      </li>
    </ul>
  </div>
</section>
